body {
    padding-top: 54px;
}

@media all (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}



/* IPHONE X Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .cardWidth {
        width: 345px!important;
        padding: 0px 4px px 4px;
        border-radius: 13px!important;
    }
    .aboutContainer {
        float:unset;
        width: 100%!important
    }
    html {
        width: 375px!important;
    }
}
/* IPHONE X Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .cardWidth {
        width: 500px!important;
        border-radius: 13px!important;
    }
    .aboutContainer {
        float:unset;
        width: 75%!important
    }
    html {
        width: 812px!important;
    }
}



/* ALL DESKTOP */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .cardWidth {
        width: 500px!important;
        border-radius: 17px!important;
    }
    .aboutContainer {
        float:unset;
        width: 60%!important
    }
}




.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.img-responsive {
    background: url("photo2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.autoIMG {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: all 0.15s ease-in-out;
    margin: 0 auto;
}

/* Create the hidden pseudo-element */
/* include the shadow for the end state */
.autoIMG:after {
    width: 125%;
    height: 125%;
    opacity: 0;
    border-radius: 50%;
    transition: opacity 0.3s ease-in-out;
    margin: 0 auto;

}

/* Scale up the box */
.autoIMG:hover {
    transform: scale(1.1, 1.1);
}

/* Fade in the pseudo-element with the bigger shadow */
.autoIMG:hover:after {
    opacity: 1;
}

#htmlz {
    background: url("../pics/simpleGeom1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.caption {
    position: absolute;
    left: 0;
    top: 10.75%;
    width: 100%;
    text-align: center;
    color: #000;
}

.bodied {
    position: absolute;
    text-align: center;
    border: solid black;
    border-width: 0.5em;
    background-color: #303030;
    left: 0;
    top: 25.75%;
    width: 100%;
    text-align: center;
    color: #000;
}

span.border {
    background-color: #424242;
    border: solid white;
    border-width: 4px;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 2px;
    opacity: 0.80;
}
