body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

a:hover {
  color:#bebebe!important
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover
}

.img-responsive {
  background: url('photo2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

.autoIMG {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: all 0.15s ease-in-out;
  margin: 0 auto;
}

/* Create the hidden pseudo-element */
/* include the shadow for the end state */
.autoIMG:after {
  width: 125%;
  height: 125%;
  opacity: 0;
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out;
  margin: 0 auto;
  
}

/* Scale up the box */
.autoIMG:hover {
  transform: scale(1.1, 1.1);
}

/* Fade in the pseudo-element with the bigger shadow */
.autoIMG:hover:after {
  opacity: 1;
}



#htmlz { 
  background: url("../pics/simpleGeom1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.caption {
  position: absolute;
  left: 0;
  top: 10.75%;
  width: 100%;
  text-align: center;
  color: #000;
}

.bodied {
  position: absolute;
  text-align: center;
  border: solid black;
  border-width:.5em;
  background-color: #303030;
  left: 0;
  top: 25.75%;
  width: 100%;
  text-align: center;
  color: #000;
}

span.border {
  background-color: #424242;
  border:solid white;
  border-width: 4px;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 2px;
  opacity: .80
}